.navbar{
	background-color: #DDDEBB;
}
.navbar-nav>li>a{
	line-height: 38px;
	color: #000000;
}
.navbar-brand{
	line-height: 38px;
	color: #000000;
}


h1, h2, h3{
  font-family: times; 
  font-size: 5vh;
  line-height: 3vh;
}


body{
  font-family: Arial,"Rosario"sans-serif;
font-size: 3vh;
line-height: 4vh;
color: #000;
}

.navbar-nav, .navbar-brand{
  font-family: times;
}

.navbar-brand:hover{
  color: #;
  
}


.intro{
background-color: #FFF;
height: 100vh;
}

.equipment{
background-color: #DDDEBB;
height: 100vh;
}

.process{
background-color: #FFF;
height: 200vh;
}

.example{
background-color: #DDDEBB;
height: 100vh;
}

.resources{
background-color: #FFF;
height: 100vh;
}

.navbar{
margin-bottom: 0px;
}

@media (min-width: 1200px){
.container {
width: 970px;
}

}


