.navbar{
	background-color: #DDDEBB;
}
.navbar-nav>li>a{
	line-height: 38px;
	color: #000000;
}
.navbar-brand{
	line-height: 38px;
	color: #000000;
}

body{
  font-family: Arial,"Rosario"sans-serif;
font-size: 14px;
line-height: 1.42857143;
color: #000;
}

.intro{
background-color: #FFF;
}

.equipment{
background-color: #DDDEBB;
}

.process{
background-color: #FFF;
}

.example{
background-color: #DDDEBB;
}

.resources{
background-color: #FFF;
}

.navbar{
margin-bottom: 0px;
}

@media (min-width: 1200px){
.container {
width: 970px;
}

}


